{
    "ignoreFiles": [
        "**/src/assets/**/*.less",     
    ],
    "rules": {
      "no-extra-semicolons": true,
      "declaration-block-no-duplicate-properties": true,
      "declaration-block-trailing-semicolon": "always",
      "at-rule-name-case": "lower",
      "at-rule-no-unknown": true,
      "at-rule-no-vendor-prefix": true,
      "unit-case": "lower",
      "unit-no-unknown": true,
      "selector-type-case": "lower",
      "selector-type-no-unknown": true,
      "property-case": "lower",
      "property-no-unknown": true,
      "property-no-vendor-prefix": true,
      "selector-pseudo-class-no-unknown": [true, {
        ignorePseudoClasses: ["global"]
      }],
      "selector-pseudo-element-no-unknown": true,
    }
}
